@{
    ViewData["Title"] = "Створити новий запис";
}

<h2>Створення нових сутностей</h2>

<ul>
    <li><a asp-controller="Categories" asp-action="Create">Створити категорію</a></li>
    <li><a asp-controller="Books" asp-action="Create">Створити книгу</a></li>
    <li><a asp-controller="Customer" asp-action="Create">Створити замовлення</a></li>
    <li><a asp-controller="ShoppingBaskets" asp-action="Create">Створити кошик</a></li>
</ul>
