@model List<BookDomain.Model.Order>

<h2>Список замовлень</h2>

@foreach (var order in Model)
{
    <div>
        <h5>Замовлення #@order.OrderId</h5>
        <p>Дата: @order.OrderDate</p>
        <p>Сума: @order.TotalPrice</p>
    </div>
}